
{{> blog-info blog}}

{{#if logged_in}}

<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input"/>
        <button type="submit" class="is-primary is-pulled-right mt-3 mb-3 btn btn-outline-success" style="color: #1b4332">Submit Comment</button>
    </form>
</div>
{{/if}}

{{> comments blog.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}




