{{> blog-info blog}}

{{#if logged_in}}
<form class="comment-form">
    <div>
        <textarea id="comment-text" class="ml-5" name="comment-content"></textarea>
    </div>
    <div>
        <button class="button is-warning ml-5 mb-5">Submit Comment</button>
    </div>
</form>
{{/if}}

{{> comments blog.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
