<div class="mb-5 pt-3 dashboard-view">
    <h2>Your Posts</h2>
</div>

{{#if blogs.length}}
<section class="dashboard-view">
    <ol>
        {{#each blogs as |blog|}}
        <li>
            {{> blog-info blog}}
            <a href="/dashboard/edit/{{blog.id}}"><button class="button mb-5 ml -5 is-warning">Edit Post</button></a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}


