<ul class="post-display">
    {{#each blogs as |blog|}}
    <li>
        {{> blog-info blog}}
    </li>
    {{else}}
    <h4 class="pb-4 has-text-centered is-bold">There are no posts to view at this moment</h4>
    {{/each}}
</ul>