<section class="blog-post">
    <a href="/dashboard"></a>
    <div class="column">
        <h2>Contribute to the Blog</h2>
        <form class="new-post-form">
            <div class="mb-3">
                <label for="blog-title" class="form-label">Post Title:</label>
                <input type="text" id="blog-title" name="blog-title">
            </div>
            <div class="form-floating">
                <textarea id="blog-text" class="form-control" name="blog-text" placeholder="Your Content" style="height: 100px"></textarea>
                <label for="floatingTextarea2"></label>
            </div>
            <button type="submit" class="button is-primary is-pulled-right mt-3 mb-3">Post</button>
        </form>
    </div>
</section>
<script src="/js/post.js"></script> 